<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/testing.css">
    <link rel="stylesheet" type="text/css" href="~/Style/Styler.css">
</head>
<body>
    <div id="wrap">


        <div class="header">
            <nav>
                <ul>
                    <li> <img src="~/images/GD.png" alt="" title="" height="99px" style="float: left;"></li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Product", "Index", "Product")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About_us", "About_us", "Home")</li>
                    <li>@Html.ActionLink("Add product", "upload", "upload")</li>
                   
                </ul>
            </nav>
        </div>


        <section>
            <div>
                @RenderBody()


            </div>
        </section>


        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/Mytesting.js"></script>
    <script type="text/javascript" src="~/scripts/homeJava.js"></script>
</body>
</html>