@model web0._1.Models.Products  
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>Selected Porduct Details</h2>
<div class="article1">
    <span><img id="maini" src="~/images/@Model.Image_name" style="width:785px;height:400px;align-content:center"></span>
</div>


<div class="article2">
    <div class="article3">
        <h2>Product ID</h2>
        <p>@Model.Pro_id</p>
    </div>

    <div class="article3">
        <h2>Product name</h2>
        <p>@Model.Pro_Name</p>
    </div>

   <div class="article3">
       <h2>Product Price</h2>
       <p>R: @Model.Pro_price</p>
       </div>

            <div class="article3">
                <h2>Product description</h2>
                <p>@Model.Pro_desc</p>
            </div>

    <button onclick="location.href='@Url.Action("Add","Items",new {id=Model.Pro_id})'">ADD TO CART</button>
</div>

