@model web0._1.Models.ViewModel  
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
    object[] pro = new object[9];
    int count = 0;

    var testing = pro[count];


}
<h1>Product Page</h1>

<div id="pic">

    <div class="article1">
        <span><img id="maini" src="~/images/d11.jpg" style="width:350px;height:350px"></span>
     
    </div>

    <div class="article2">
  
            <div class="article3">
                <span class="image" onclick="changeimage('d1.jpg', 'inner1');"><img id="inner1" src="~/images/d1.jpg" style="width:100px;height:100px" ></span>
                <p class="inner1" >testing</p>
                <p class="inner1">testing</p>
            </div>

        <div class="article3">
            <span class="image" onclick="changeimage('d2.jpg', 'inner2');"><img  id="inner2" src="~/images/d2.jpg" style="width:100px;height:100px"></span>
            <p class="inner2">testing2</p>
            <p class="inner2">testing 2</p>
        </div>

        <div class="article3">
            <span class="image" onclick="changeimage('d3.jpg', 'inner3');"><img  id="inner3" src="~/images/d3.jpg" style="width:100px;height:100px"></span>
            <p class="inner3">testing 3</p>
            <p class="inner3">testing 3</p>
        </div>

        <div class="article3">
            <span class="image" onclick="changeimage('d4.jpg', 'inner4');"><img id="inner4" src="~/images/d4.jpg" style="width:100px;height:100px"></span>
            <p class="inner4">testing 4</p>
            <p class="inner4">testing 4</p>
        </div>

        <div class="article3">
            <span class="image" onclick="changeimage('d5.jpg', 'inner5');"><img  id="inner5" src="~/images/d5.jpg" style="width:100px;height:100px"></span>
            <p class="inner5">testing 5</p>
            <p class="inner5">testing 5</p>
        </div>
        

    </div>
</div>

@*@foreach (var items in Model.GetValues())
        {
            var id = items.ProductId;

        <div class="article3">
            <span class="image" id="inner" onclick="show()"><img src="~/images/@Html.DisplayFor(item=>items.image)" style="width:100px;height:100px" /></span>
            <p id="p2" >@Html.DisplayFor(item=> items.ProductName  )</p>
            <p id="p2">R @Html.DisplayFor(item => items.ProductPrice)</p>

        </div>
    }*@

@*<script type="text/javascript">
    function changeimage(val){
       @*var pic= document.getElementById(".image").src="~/images/"+@Model.GetPic(val) ;
       document.getElementById(".maini").src="~/images/"+val;
        };
</script>*@

@*<script type="text/javascript" >*@
    @*//$(document).ready(function () {
    //    ("p").hide();

    //    function showinfo() {
    //        $("#inner").onclick(function () {
    //            $("p").slideToggle(1000);
    //        });


    //    };
       remember yesterday when i was talking 
    //});*@
   

@*</script>*@

@*@foreach (var item in Model.GetValues())
    {
        <div class="article3" >

            <span class="image" id="inner"><img src="~/images/@Html.DisplayFor(modelItem => item.image)" style="width:100px;height:100px" /></span>

            <p id="p2">@Html.DisplayFor(modelItem => item.ProductName)</p>
            <p id="p2">R @Html.DisplayFor(modelItem => item.ProductPrice)</p>

        </div>

    }*@

@*===============================*@
@*@for (int i = 0; i < 9; i++)
        {
            @Model.Valuestest(i);
           <div class="article3">

          <span class="image" id="inner"><img src="~/images/@Html.DisplayFor(modelItem => Model.tempImage)" style="width:100px;height:100px" /></span>
          <p id="p2">@Html.DisplayFor(modelItem =>Model.tempname )</p>
          <p id="p2">R @Html.DisplayFor(modelItem => Model.tempprice)</p>

      </div>
    }*@
@*===============================*@
@*@for (int i = 0; i < 9; i++)
    {
        Model.Valuestest(i);
       <div class="article3">
       <span><img class="inner">@Html.DisplayFor(model => model.tempImage)</span>
       <p id="p2"> @Html.DisplayFor(model => model.tempname)</p>
       <p id="p2">@Html.DisplayFor(model => model.tempprice)</p>
        </div>
    }*@